/* static/style.css */

/* 居中标题文本 */
h1 {
    text-align: center;
}

/* 样式可根据需要自行调整 */
.card {
    display: inline-block;
    width: 160px; /* 缩小 20% */
    height: 120px; /* 缩小 20% */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    color: #333;
}

.card:hover {
    background-color: #f0f0f0;
}

/* 说明文本样式 */
.card p {
    margin-top: 5px; /* 调整顶部间距 */
    font-size: 12px; /* 缩小字号 */
    text-align: left; /* 左对齐 */
}
