<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>极简工具集</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>极简工具集</h1>
    <a href="/base64" class="card">
        <h2>Base64转换</h2>
        <p>普通文本 &lt;==&gt; Base64字符</p>
    </a>
    <a href="/bytes" class="card">
        <h2>字节串转换</h2>
        <p>普通文本 &lt;==&gt; 字节串表示</p>
    </a>
    <a href="/xor" class="card">
        <h2>按位异或求值</h2>
        <p>文本1 ^ 文本2</p>
    </a>
</body>
</html>
